.centVer{
    text-align: center;
    margin: 10px 0;
}
.ocultar{
    display: none;
    
}

.celdas{
    width: 30px;
    height: 30px;    
    background-size: 30px 30px;
}

#cuerpo{
    
    background-color: #F5E3A0;
}

#todo{
    margin-top: 15%;
}

#titulo{
    text-align: center;
    
}

#imgBomba{
    width: 33%;
}

#imgexpl{
    width: 33%;
    
}
#tablaTablero{
    margin:0 auto;
}

img{
    width: 30px;
    height: 30px;
    
}

#mensaje{
    text-align: center;
}

#cronometro{
    
    display:none;
}

#titCrono{
        margin: 0 auto;
    margin-bottom: 2%;
    
}

#crono{
    width: 277px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    
}